%h2 Privacy policy
%p
  Privacy and security of your Personal information are extremely important to us. When you use the Sites and Services, Yandex processes your Personal information and ensures its protection in strict compliance with applicable laws and regulations.
As part of our commitment to protecting your Personal information, we use this Policy to transparently inform you about the following:
http://ertex47-app.herokuapp.com
%p(a) why and how your Personal information is collected and used (also, “processed”) by Yandex when you access the Sites or Services;
%p(b) Yandex’s role and responsibilities in this context as the legal entity deciding why and how your Personal information is processed;
%p(c) what instruments you may use to limit the amount of Personal information collected by Yandex; and
%p(d) what your rights are in relation to the above processing.