body { background: #2f4352; color: #e9ede6}
.card, .jumbotron, .list-group-item { color: #3f3147;}


//hide simple_form checkmarks
.form-control.is-invalid{background-image: none;}
.form-control.is-valid{background-image: none;}

 .ui-state-highlight { height: 3em; linr-height: 1.2em; background-color: yellow; }
 
 //simple_form input for rich_text_area
 trix-editor.form-control {
  height:auto;
 }