@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

body { background: #1f2422; color: #e9ede6}
.card, .jumbotron, .list-group-item { color: #3f3147;}

//.jumbotron{
//    background-image: url("https://i1.wallbox.ru/wallpapers/main/201320/253138c1bfe2d6a.jpg");
//    background-size: cover;
//    height: 100%;}

hr{background: white;}

.btn_link:link, .btn_link:visited, .btn_link:focus{color: white;}
.sort_link:link, .sort_link:visited, .sort_link:focus{color: white; background: none;}
.black_link:link, .black_link:visited, .black_link:focus{color: black; background: none;}

/* Config hyperlinks Pseudo-class */
//a:link, a:visited, a:focus {color: black;}
.white_link:link, .white_link:visited, .white_link:focus{color: white; background: none;}

th{background-color: #73787d}
td{background-color: #7f8a94}

//hide simple_form checkmarks
.form-control.is-invalid{background-image: none;}
.form-control.is-valid{background-image: none;}

 .ui-state-highlight { height: 3em; linr-height: 1.2em; background-color: yellow; }
 
 //simple_form input for rich_text_area
 trix-editor.form-control {
  height:auto;
 }
 
 //footer always on the bottom
 html {
  position: relative;
  min-height: 100%;
 }
 body {
  margin: 0 0 200px;
 }
 .footer {
   position: absolute;
   left: 0;
   bottom: 0;
   //height: 200px;
   width: 100%;
   overflow: hidden;
 }
 
