- content_for :title do
  Ertex47Project
  \|
  Новый курс

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      Новый курс
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Назад', courses_path
